# Eclipse IDE
web/target/
**/classes/

# Java
*.class

*.log


Secrets.java

#python
*.lock
*.pyc
LocalConstant.py

#pytcharm IDE
.idea/
zuzu_notify/bin/
zuzu_notify/include/
zuzu_notify/lib/
pip-selfcheck.json
pyvenv.cfg
notify.json
secrets.py